.emoji-popup {
  .flex-wrap;

  width: 320px;
  height: 209px;
  overflow: hidden;

  .form-group {
    margin: 5px;
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    .fg-line {
      display: inline-flex;
    }

    i {
      padding: 3px;
      font-size: 2em;
      width: 36px;
    }
  }

  .category-filter {
    border-right: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    top: 34px;
  }

  .filter {
    height: 37px;
    padding-bottom: -1px;
    border-bottom: 1px solid #e0e0e0;

  }
  
  .active-filter {
    box-shadow: inset 0px 0px 4px 0px #e0e0e0
  }

  .emoji-items {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 34px;
    height: 170px;
    /* width: 86%; */
    height: 185px;
    width: 280px;
    left:40px;
  }

  .esn-emoticon-image {
    width: 27px;
    margin: 5px;
  }

  .emoticon-search {
    i {
      position: absolute;
      padding-top: 8px;
      color: @m-blue;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .emoji-popup {
    width: 350px;
  }
}
